<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <p>Home</p>
        <div class="pages">
            <a href="/client">Client Side</a>
            <a href="/server">Server Side</a>
        </div>
    </div>
</body>
</html>